body{
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

form{
    background-color: #e6ed89;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    padding: 20px;
    margin: 100px auto;

}


