body {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    display: grid;
    grid-template-rows: 200px min-content;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 10px;
    list-style: none;
    gap: 10px;
    background-color: #f0f0f0;
  }
  
  .tags > * {
    background-color: #999;
    color: #fff;
    padding: 0.2em 0.8em;
    border-radius: 0.2em;
    font-size: 80%;
    white-space: nowrap;
  }
  